{% block headeruserinfo %}
<div id="userinfoDiv" class="headerclass">
userinfo
    <div id="userprofilepicDiv" ><image/></div>
    <div id="usernameDiv">
        <div id="userdisplaynameDiv">my name</div>
        <div id="userindexDiv">idx</div>
    </div>
    <div id="userinfobuttonsDiv">
        <button id="loginbutton" class="userinfobutton" value="">login</button>
        <button id="signupbutton" class="userinfobutton" value="">signup</button>
        <button id="logoutbutton" class="userinfobutton" value="">logout</button>
        <button id="userinfopagebutton" class="userinfobutton" value="">userinfo</button>
    </div>
</div>
{% endblock %}