{% block postlist %}
<div id="postlistDiv" class="layout">
    <table id="postlisttable" class="postlisttable">
        <tbody>
            <tr>
                <td>
                    <div id="postpreview">
                        thumbnail
                        <div id="postinfobar">
                        <div id="posttitle">title</div>
                        <div id="postFav">😻</div>
                        <div id="postreact">😻</div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock postlist %}