{% block changePassword %}
<div id="passwordchangeDiv" class="layout">
    <form action="" method="post">
        <label for="currentpasswordhere"></label>
        <input type="password" name="currentpasswordhere" id="currentpasswordhere"/>
        <label for="newpasswordhere"></label>
        <input type="password" name="newpasswordhere" id="newpasswordhere"/>
        <label for="repeatnewpassword"></label>
        <input type="password" name="repeatnewpassword" id="repeatnewpassword"/>
        <div id="passwordchangebuttonsDiv">
            <button type="button">cancel</button>
            <button type="reset">reset</button>
            <button type="submit">submit</button>
        </div>
    </form>
</div>
{% endblock changePassword %}