{% block signup %}
<form id="signupform" class="layout">
    <table id="signuptable" class="layout">
        <tr class="signuptable">
            <td class="signuptable"><label id="" class="signuptable" for="">Ident</label></td>
            <td class="signuptable"><input id="" class="signuptable" type="text" placeholder=""/></td>
        </tr>
        <tr class="signuptable">
            <td class="signuptable"><label id="" class="signuptable" for="">Confirm Ident</label></td>
            <td class="signuptable"><input id="" class="signuptable" type="text" placeholder=""/></td>
        </tr>
        <tr class="signuptable">
            <td class="signuptable"><label id="" class="signuptable" for="">Password</label></td>
            <td class="signuptable"><input id="" class="signuptable" type="password" placeholder=""/></td>
        </tr>
        <tr class="signuptable">
            <td class="signuptable"><label id="" class="signuptable" for="">Confirm Password</label></td>
            <td class="signuptable"><input id="" class="signuptable" type="password" placeholder=""/></td>
        </tr>
    </table>
    <div class="layout">
        <button type="submit" class="signupbutton">signup</button>
        <button type="reset" class="signupbutton">reset</button>
        <button type="button" class="signupbutton">cancel</button>
    </div>
</form>
{% endblock %}