#headertag {
    /*position:absolute;*/
    position:fixed;
    background-color: rgba(254, 254, 254, 1);
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

#headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerobject {
    /*position:absolute;*/
    padding:10px;
}

#menubuttonspan {
    /*position:absolute;
    top:10px;
    padding:10px;*/
}

#headercentre.rtl-ttb {
    /* width:100%; */
}

#headercentre.ltr-ttb {
    /* width:100%; */
}

#headeruserinfospan {
    /*position:absolute;
    padding:10px;*/
}

#UnloggedUserIcon {
    width: 30px;
    height: 30px;
    background-color: rgba(187, 187, 187, 1);
};