#headertag {
    /*position:absolute;*/
    position:fixed;
    background-color: #FEFEFE;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

#menubuttonDiv {
    /*position:absolute;*/
    top:10px;
    padding:10px;
}

#headeruserinfoDiv {
    /*position:absolute;*/
    top:10px;
    padding:10px;
}

#UnloggedUserIcon {
   width: 30px;
   height: 30px;
   background-color: gray;
};