#headertag {
    /*position:absolute;*/
    position:fixed;
    width:100%;
    background-color: aqua;
}

.headerclass {
    float:left;
}

#menubuttonDiv {
    position:absolute;
    top:10px;
    left:10px; /*LR_TB*/
    padding:10px;
}

#headeruserinfoDiv {
    position:absolute;
    top:10px;
    right:10px; /*LR_TB*/
    padding:10px;
}

#UnloggedUserIcon {
   width: 30px;
   height: 30px;
   background-color: gray;
};