#headertag {
    /*position:absolute;*/
    position:fixed;
    width:100%;
    background-color: aqua;
}

#menubuttonDiv {
    /*position:absolute;*/
    top:10px;
    padding:10px;
}

#headeruserinfoDiv {
    /*position:absolute;*/
    top:10px;
    padding:10px;
}

#UnloggedUserIcon {
   width: 30px;
   height: 30px;
   background-color: gray;
};