/*
 * 0. Left-to-Right and Top-to-Bottom
 * Latin, Cyrillic, Greek, Armenian, Georgian, Tamazight, Devanagari, Thai, Tibetan, Cherokee, and so on. 
 */

 * {
    direction: ltr;
    writing-mode: horizontal-tb;
 }

 .flowtype0 {
    direction: ltr;
 }

 .flowtype1 {
    direction:ltr;
 }