/*
 * 1. Right-to-Left and Top-to-Bottom
 * Arabic, Hebrew, Syriac, Thaana, N;Ko, and so on. 
 */

 * {
    direction: rtl;
    writing-mode: horizontal-tb;
 }

 .flowtype0 {
    direction: rtl;
 }

 .flowtype1 {
    direction: rtl;
 }