/*
 * 1. Right-to-Left and Top-to-Bottom
 * Arabic, Hebrew, Syriac, Thaana, N;Ko, and so on. 
 */

 * {
    direction: rtl;
    writing-mode: horizontal-tb;
 }

 /*Vertical. Top to bottom. For DIV*/
.flowtype0 {
 }
.flexboxtype0 {
   display: flex;
   flex-direction: column;
}
.gridtype0 {

}

 /*Horizontal. Right to Left. For DIV*/
.flowtype1 {
   direction: rtl;
 }
.flexboxtype1 {
   display: flex;
   flex-direction: row-reverse;
}
.gridtype1 {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: repeat(3, 1fr);
   direction: rtl;
}

.headerorientation {
    top: 0px;
    width:100%;
}

.menubuttonorientation {
    right:10px;
}

.headeruserinfoorientation {
    left:10px;
}

.footerorientation {
    bottom: 0px;
    width:100%;
}