/*
 * 2. Top=to-Bottom and Left-to-Right
 * Mongolian, Manchu, 'Phags-Pa, Sogdian, Mayan, and so on. 
 */

* {
    direction: ltr;
    writing-mode: vertical-lr;
};

 /*Horizontal. Left to Right. For DIV*/
.flowtype0 {

}
.flexboxtype0 {

}
.gridtype0 {

}

 /*Vertical. Top to bottom. For DIV*/
.flowtype1 {
    
}
.flexboxtype1 {
    
}
.gridtype1 {

}