/*
 * 3. Top-to-Bottom Right-to-Left Text Orientation. 
 * Chinese, Korean, Japanese, Khitan, Jurchen, and so on. 
 */

* {
    direction: rtl;
    writing-mode: vertical-rl;
};


 /*Horizontal. Right to Left. For DIV*/
.flowtype0 {

}
.flexboxtype0 {

}
.gridtype0 {

}

 /*Vertical. Top to bottom. For DIV*/
.flowtype1 {
    
}
.flexboxtype1 {
    
}
.gridtype1 {

}