<html>
<head><title></title></head>

<body>

{{ content }}
<table id="userinfotable" class="layout">
    <tr class="userinfotable">
        <td>
            userident
        </td>
        <td>
            userident here
        </td>
        <td>
            <button>userident here</button>
        </td>
    </tr>
    <tr>
        <td>
            userindex
        </td>
        <td>
            userindex here
        </td>
    </tr>
    <tr>
        <td>
            username
        </td>
        <td>
            username here
        </td>
        <td>
            <button>change userbutton</button>
        </td>
    </tr>
    <tr>
        <td>
            email
        </td>
        <td>
            email here
        </td>
        <td>
            <button>change email</button>
        </td>
    </tr>
    <tr>
        <td>
            mobile phone number
        </td>
        <td>
            phone number here
        </td>
        <td>
            <button>change phone number</button>
        </td>
    </tr>
</table>

</body>
</html>
