#sidebar0 {
    position: fixed;
    top: 50px; /* Assuming header height is 50px */
    left: 0;
    width: 250px; /* Or whatever width you want */
    height: calc(100vh - 50px); /* Full height minus header */
    background-color: white;
    border-right: 1px solid #ccc;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 900;
}

#sidebar0.visible {
    transform: translateX(0);
}

#menulist .menuitem {
    list-style-type: none;
}

.menulist .ltr-ttb {
    width: 100%;
}

.menuitem {
    padding:15px;
}

.bright-white .menuitem:hover {
    background-color: #f0f0f0;;
}
