#footertag {
    /**/position:absolute;
    background-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

#footerDiv {
    justify-content: space-between;
    align-items: center;
}

.footerobject {
    padding: 10px;
}

#localelist {
    
}