#signupform, #signuptable {
    top:50%;
    left:50%;
}

#signupDiv {
    width: 100%;
    height: 100%;
}

#signuptable {
    top:50%;
    left:50%;
}

.tablelabel {
    margin: 4px;
    padding: 4px;
}

.inputbox {
    border-color: #DDDDDD;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
}

.signupbutton {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}

#errorbox {
    background-color: #FFFFFF;
    color: 'red'; 
    margin: '10px'
}